/* HEADER  */

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  box-shadow: 1px 0 5px 3px #a9a8a8a4;
}

.logo {
  width: 10%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  display: block;
  margin: auto;
  font-size: 2rem;
  line-height: 60px;
  letter-spacing: 5px;
  text-indent: 5px;
  color: var(--black-color);
  text-decoration: none;
  text-transform: uppercase;
}

.logo a:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.menu__container {
  width: 70%;
  display: flex;
}

.menu {
  width: 70%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > li {
}

.menu > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu > li > a {
  display: block;
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.6rem;
  font-weight: 300;
  padding: 2rem 1.6rem;
  text-transform: uppercase;
}

.menu > li > a > i {
  padding-right: 5px;
}

/* END HEADER  */

/* BANNER */

.banner {
  width: 100%;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/startup/assets/img/mac.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(50%);
  /* margin-top: 60px; */
}

.banner__img {
  margin-left: 48px;
  height: auto;
  position: relative;
}

.banner__img .banner__slogan {
  font-size: 6.4rem;
  font-weight: 400;
  color: var(--white-color);
  display: block;
  position: absolute;
  top: -88px;
}

.banner__img .banner__intro {
  color: var(--white-color);
  display: block;
  font-size: 1.8rem;
  /* margin-top: 30px; */
  position: absolute;
  top: 12px;
}

.banner__img .banner__about--btn {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--black-color);
  background-color: rgb(255, 255, 255, 0.6);
  display: block;
  padding: 20px 24px;
  width: fit-content;
  margin-top: 50px;
  font-weight: 400;
  position: absolute;
  top: 17px;
}

.banner__img .banner__about--btn:hover {
  background-color: rgb(255, 255, 255, 0.8);
}

.banner_social {
  position: absolute;
  bottom: 30px;
  left: 48px;
  display: flex;
  list-style: none;
  font-size: 1.6rem;
  /* background-color: #c0c0c0fe; */
}

.banner_social li {
  padding: 0 3px;
}

.banner_social li a {
  text-decoration: none;
  color: #ffffff6d;
}

/* == ABOUT SECTION */

.about {
  height: 640px;
  width: 100%;
  padding: 128px 16px;
}

.about__header {
  font-size: 2.4em;
  height: 43px;
  line-height: 43px;
  font-weight: 400;
  text-align: center;
}

.about__point {
  display: block;
  font-size: 1.8rem;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 16px 0px 70px 0px;
}

.about__detail {
  display: flex;
  text-align: center;
  height: 270px;
  padding-bottom: 20px;
}

.about__detail-item {
  padding: 0 6px;
}

.about__detail-item i {
  font-size: 5.5rem;
  margin-bottom: 40px;
}

.about__detail-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
}

.about__detail-content {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin-top: 0;
}

/* ABOUT END */

/* WORK INTRO */

.work-intro {
  height: 650px;
  padding: 128px 16px;
  background-color: #f1f1f1;
}

.work-intro-container {
  display: flex;
  align-items: flex-start;
  height: 394px;
  padding: 0 8px;
}

.work-intro__desc {
  padding: 16px 8px 0 8px;
  position: relative;
  width: 50%;
  height: 100%;
}

.work-intro__desc-title {
  font-size: 2.4rem;
  font-weight: 400;
}

.work-intro__desc-detail {
  font-size: 1.5rem;
  line-height: 2.7rem;
  margin-top: 28px;
}

.work-intro__desc-btn {
  display: block;
  margin-top: 15px;
  padding: 8px 10px;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--black-color);
  font-size: 1.5rem;
  line-height: 27px;
  width: 164px;
  height: 43px;
  text-align: center;
}

.work-intro__desc-btn i {
  font-size: 1.6rem;
  color: var(--white-color);
  padding-right: 4px;
}

.work-intro__img {
  padding: 0px 8px;
  width: 50%;
}

.work-intro__img img {
  width: 700px;
  height: auto;
  border-radius: 10px;
}

/* WORK INTRO END */

/*  MEMBER */

.member {
  width: 100%;
  padding: 136px 30px;
  height: 975px;
}

.member__title {
  font-size: 2.4em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

.member__intro {
  font-size: 1.8rem;
  text-align: center;
  margin: 40px 0;
}

.member__items {
  width: 100%;
  height: 551px;
  padding-bottom: 16px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.member__item {
  width: 447px;
}

.member__item img {
  width: 100%;
  filter: grayscale(70%);
}

/*  MEMBER END */

/*  WORK QUANTITY START */

.work-quantity {
  width: 100%;
  height: 500px;
}
